@import url("https://use.typekit.net/axf8lkn.css");

:root {
  --primary-font: neue-haas-grotesk-display, sans-serif;
  --secondary-font: abril-text, serif;
  --color-white: #ffffff;
  --color-dark: #000000;
  --body-font-size: 12px;
  --header-height: 60px;
  --active-link: rgb(54, 53, 53, .5);
  --site-width: 90%;
}

::selection {
  color: var(--color-white);
  background: var(--color-dark);
}
::-moz-selection {
  color: var(--color-white);
  background: var(--color-dark);
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
  font-weight: normal;
  font-family: var(--primary-font);
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  font-size: var (--body-font-size);
  background: var(--color-white);
}
.swiper-slide img {
  width: 100%;
  height: auto;
}

.site-header {
  display: flex;
  align-items: center;
  height: auto;
}
.site-title {
  font-size: 1.4rem;
  font-weight: normal;
}
.site-header a {
  color: inherit;
  text-decoration: none;
}
.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
}
.navbar li {
  padding: 0 5px;
}
.navbar li a {
  display: block;
}
.navbar li a.active {
  border-bottom: 1px solid var(--active-link);
}

.site-header, .site-main, .site-footer {
  margin: 0 auto;
  width: 100%;
  max-width: var(--site-width);
}
.site-footer {
  margin-top: 120px;
  padding: 40px 0;
  letter-spacing: .05rem;
  border-top: 1px solid gainsboro;
}
.swiper {
  width: 100%;
  height: auto;
}
.swiper-slide {
  // text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.swiper * {
// -webkit-transition: all 0.2s 0s;
//   -moz-transition: all 0.2s 0s;
//   -o-transition: all 0.2s 0s;
//   transition: all 0.2s 0s;
}
.swiper-wrapper {
  padding-bottom: 40px;
}
.swiper-pagination {
  text-align: left;
  font-size: .8rem;
}
.swiper-slide-date {
  position: absolute;
  bottom: 10px;
  right: 0px;
  font-size: .8rem;
}

.swiper-lazy-preloader {
  position: absolute;
}

.project-info {
  padding: 0 0 0 15px;
  letter-spacing: .04rem;
  font-size: .9rem;
  line-height: 1.28rem;  
}

.project-info .title {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.project-info .subtitle {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: .4px;
}


.project-section {
  margin: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.project-section .custom-icon-area{
  text-align: center;
}
.project-section .custom-icon-area img{
  width: auto;
  height: 50px;
}

.project-sliders {
  position: relative;
  overflow: hidden;
}
.project-sliders .swiper-button-next, 
.project-sliders .swiper-button-prev {
  color: var(--color-dark);
  display: none;
  // -webkit-transition: all 0.2s 0s;
  // -moz-transition: all 0.2s 0s;
  // -o-transition: all 0.2s 0s;
  // transition: all 0.2s 0s;
}
.project-sliders:hover .swiper-button-next,
.project-sliders:hover .swiper-button-prev {
  display: block;
}


//

// @media only screen and (max-width:768px) {
//   .site-header {
//     flex-direction: column;
//     background-color: red;
//   }
//   .project-sliders:hover .swiper-button-next,
//   .project-sliders:hover .swiper-button-prev {
//     display: none;
//   }
  
// }

@media only screen and (min-width: 768px) {
  .site-header {
    flex-direction: row;

  }
  .project-section {
    margin: 0px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-device-width: 767px) {
  .site-header {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .project-sliders:hover .swiper-button-next,
  .project-sliders:hover .swiper-button-prev {
    display: none;
  }
  .project-section {
    margin: 0 0 30px 0;
  }
  .project-info {
    padding: 0 0 0 0px;
  }
  .site-header, .site-main, .site-footer {
    max-width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 1600px)  {
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.6rem;
  }
}
